# SERIES

In [1]:
import pandas as pd

list1 = [2,4,6,8]

sr = pd.Series(list1)
print(sr)
print(type(sr))

#
print(sr[1])

0    2
1    4
2    6
3    8
dtype: int64
<class 'pandas.core.series.Series'>
4

### ĐẶT TÊN INDEX CHO SERIES

In [2]:
sr = pd.Series(list1,index=['A','B','C','D'])
print(sr)

#
print(sr[3])
print(sr['C'])

A    2
B    4
C    6
D    8
dtype: int64
8
6

# DATAFRAME

In [3]:
list1 = ['A','B','C','D']
list2 = [5,3,7,9]

df = pd.DataFrame({'Name':list1, 'Age':list2}) # {} là dict
print(df)

  Name  Age
0    A    5
1    B    3
2    C    7
3    D    9

### ĐẶT TÊN COLUMNS & INDEX CHO DF

In [4]:
list1 = ['Trần Đức A','Lê Thị B','Nguyễn Văn C','Đào Thị D']
list2 = [5,3,7,9]
list3 = ['M','F','M','F']
dict1 = {'Name':list1, 'Age':list2,'Gender':list3}

df = pd.DataFrame(dict1,columns=['Age','Name','Gender'],index=['A','B','C','D'])
print(df)

   Age          Name Gender
A    5    Trần Đức A      M
B    3      Lê Thị B      F
C    7  Nguyễn Văn C      M
D    9     Đào Thị D      F

### TRUY XUẤT DF

In [5]:
# TRUY XUẤT COLUMNS
print(df['Age'])
print()
print(df[['Name','Age']])

A    5
B    3
C    7
D    9
Name: Age, dtype: int64

           Name  Age
A    Trần Đức A    5
B      Lê Thị B    3
C  Nguyễn Văn C    7
D     Đào Thị D    9

In [6]:
# TRUY XUẤT ROWS = LOC
print(df.loc['B'])
print()
print(df.loc['A':'C']) # vẫn tính C
print()
# print(df.loc[1]) # error vì chỉ access được theo index đã đánh

Age              3
Name      Lê Thị B
Gender           F
Name: B, dtype: object

   Age          Name Gender
A    5    Trần Đức A      M
B    3      Lê Thị B      F
C    7  Nguyễn Văn C      M

In [7]:
# TRUY XUẤT ROWS = ILOC (INT LOC)
print(df.iloc[1]) # no error
print()
print(df.iloc[0:2]) # không tính index 2
print()
# print(df.iloc['B']) # error

Age              3
Name      Lê Thị B
Gender           F
Name: B, dtype: object

   Age        Name Gender
A    5  Trần Đức A      M
B    3    Lê Thị B      F

In [8]:
# TRUY XUẤT BOTH ROWS AND COLUMNS
print(df[['Name','Age']].iloc[0:2])

         Name  Age
A  Trần Đức A    5
B    Lê Thị B    3

### THÊM COLUMNS

In [9]:
# df.insert(index,'key','value') -- vị trí chèn, tên column, giá trị chèn
list4 = [7,3,8,6]
df.insert(0,'Score1',list4)
print(df)

   Score1  Age          Name Gender
A       7    5    Trần Đức A      M
B       3    3      Lê Thị B      F
C       8    7  Nguyễn Văn C      M
D       6    9     Đào Thị D      F

In [10]:
# CHÈN Ở CUỐI WITHOUT USING INSERT
list5 = [3,7,4,6]
df['Score2'] = list5
print(df)

   Score1  Age          Name Gender  Score2
A       7    5    Trần Đức A      M       3
B       3    3      Lê Thị B      F       7
C       8    7  Nguyễn Văn C      M       4
D       6    9     Đào Thị D      F       6

In [11]:
# THÊM COLUMN FROM EXISTING COLUMNS
df['Score3'] = df['Score2'] * 10
print(df)

   Score1  Age          Name Gender  Score2  Score3
A       7    5    Trần Đức A      M       3      30
B       3    3      Lê Thị B      F       7      70
C       8    7  Nguyễn Văn C      M       4      40
D       6    9     Đào Thị D      F       6      60

### THAY ĐỔI COLUMNS

### df.rename()

In [12]:
df.rename(columns={'Score1':'Điểm 1', 'Name':'Họ tên'},inplace=True)
print(df)

# hoặc
# df.columns = ['Họ Tên','Tuổi','Giới tính'] # viết theo thứ tự

   Điểm 1  Age        Họ tên Gender  Score2  Score3
A       7    5    Trần Đức A      M       3      30
B       3    3      Lê Thị B      F       7      70
C       8    7  Nguyễn Văn C      M       4      40
D       6    9     Đào Thị D      F       6      60

##### THAY ĐỔI 1 VALUE TRONG 1 COLUMN

In [13]:
df.loc['B','Score2'] = 200
print(df)

   Điểm 1  Age        Họ tên Gender  Score2  Score3
A       7    5    Trần Đức A      M       3      30
B       3    3      Lê Thị B      F     200      70
C       8    7  Nguyễn Văn C      M       4      40
D       6    9     Đào Thị D      F       6      60

##### THAY ĐỔI VALUES TRONG 1 COLUMN

In [14]:
df['Score2'] = [10,20,30,40]
print(df)

   Điểm 1  Age        Họ tên Gender  Score2  Score3
A       7    5    Trần Đức A      M      10      30
B       3    3      Lê Thị B      F      20      70
C       8    7  Nguyễn Văn C      M      30      40
D       6    9     Đào Thị D      F      40      60

### XÓA COLUMNS

In [15]:
# XÓA COLUMNS = DROP
x = df.drop(columns=['Điểm 1', 'Age']) # may use inplace=True, vì drop sẽ trả về 1 df mới
print(x)

# hoặc
#x = df.drop(['Điểm 1', 'Age'], axis=1)
#print(x)

         Họ tên Gender  Score2  Score3
A    Trần Đức A      M      10      30
B      Lê Thị B      F      20      70
C  Nguyễn Văn C      M      30      40
D     Đào Thị D      F      40      60

In [16]:
# XÓA ROWS = DROP
x = df.drop(['B','C']) # may use inplace=True, vì drop sẽ trả về 1 df mới
print(x)

   Điểm 1  Age      Họ tên Gender  Score2  Score3
A       7    5  Trần Đức A      M      10      30
D       6    9   Đào Thị D      F      40      60

In [17]:
# XÓA =  HÀM POP
x = df.pop('Score2') # trả về column bị xóa
print(x)
print('---')
print(df)

A    10
B    20
C    30
D    40
Name: Score2, dtype: int64
---
   Điểm 1  Age        Họ tên Gender  Score3
A       7    5    Trần Đức A      M      30
B       3    3      Lê Thị B      F      70
C       8    7  Nguyễn Văn C      M      40
D       6    9     Đào Thị D      F      60

In [18]:
# XÓA = TỪ KHÓA DEL
del df['Score3']
print(df)

   Điểm 1  Age        Họ tên Gender
A       7    5    Trần Đức A      M
B       3    3      Lê Thị B      F
C       8    7  Nguyễn Văn C      M
D       6    9     Đào Thị D      F

In [19]:
# XÓA DF
#del df
#print(df) # error vì đã xóa