In [1]:
import pandas as pd

df = pd.read_excel('my_df4.xlsx',sheet_name='sheet1')
print(df)
print('')
df = pd.read_excel('my_df4.xlsx',sheet_name='sheet1',index_col=0) # treat unamed:0 as index
print(df)

  Unnamed: 0          Name  Age Gender
0          A    Trần Đức A    5      M
1          B      Lê Thị B    3      F
2          C  Nguyễn Văn C    7      M
3          D     Đào Thị D    9      F

           Name  Age Gender
A    Trần Đức A    5      M
B      Lê Thị B    3      F
C  Nguyễn Văn C    7      M
D     Đào Thị D    9      F

### df.head/tail()

In [2]:
# tương tự select top trong SQL
print(df.head(2))
print()
print(df.tail(2))

         Name  Age Gender
A  Trần Đức A    5      M
B    Lê Thị B    3      F

           Name  Age Gender
C  Nguyễn Văn C    7      M
D     Đào Thị D    9      F

### df.unique()

In [3]:
# tương tự select distinct trong SQL
x = df['Gender'].unique()
print(x)

['M' 'F']

### df.sort_values()

In [4]:
# tương tự order by trong SQL
x = df.sort_values('Age',ascending = False)
print(x)

           Name  Age Gender
D     Đào Thị D    9      F
C  Nguyễn Văn C    7      M
A    Trần Đức A    5      M
B      Lê Thị B    3      F

### df.T

In [5]:
# chuyển vị
x = df.T
print(x)

                 A         B             C          D
Name    Trần Đức A  Lê Thị B  Nguyễn Văn C  Đào Thị D
Age              5         3             7          9
Gender           M         F             M          F

# SOME ATTRIBUTES

In [6]:
print('SHAPE:',df.shape) # 4 rows, 3 columns
print()

print('DTYPES:\n',df.dtypes)
print()

print('COLUMNS:',df.columns)
print()

print('VALUES:\n',df.values)
print()

print('INDEX:',df.index)
print(len(df.index))

SHAPE: (4, 3)

DTYPES:
 Name      object
Age        int64
Gender    object
dtype: object

COLUMNS: Index(['Name', 'Age', 'Gender'], dtype='object')

VALUES:
 [['Trần Đức A' 5 'M']
 ['Lê Thị B' 3 'F']
 ['Nguyễn Văn C' 7 'M']
 ['Đào Thị D' 9 'F']]

INDEX: Index(['A', 'B', 'C', 'D'], dtype='object')
4

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes
None

# QUERY

In [8]:
x = df[df['Age']>5]
print(x)

           Name  Age Gender
C  Nguyễn Văn C    7      M
D     Đào Thị D    9      F

In [9]:
x = df[(df['Age']>5) & (df['Gender']=='M')]
print(x)

           Name  Age Gender
C  Nguyễn Văn C    7      M

In [10]:
df[(df.Age>5) | (df['Gender']=='M')]

           Name  Age Gender
A    Trần Đức A    5      M
C  Nguyễn Văn C    7      M
D     Đào Thị D    9      F