In [1]:
import pandas as pd

df1 = pd.read_excel('my_score.xlsx',sheet_name='Sheet1')
print(df1)
print('-'*100)

df1.pop('1')
print(df1)

   1       Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0  2     Trân Văn Từ    30         M        8.0       6.0
1  3  Trần Văn Chuồn    20         M        NaN       6.0
2  4    Đào Thị Bưởi    22         F        NaN       7.0
3  5   Mùng Thị Hồng    20         F        NaN       NaN
4  6   Thịt Thị Tươi    22         F        3.0       8.0
5  7     Trần Văn Từ    30         M        5.0       2.0
----------------------------------------------------------------------------------------------------
        Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0     Trân Văn Từ    30         M        8.0       6.0
1  Trần Văn Chuồn    20         M        NaN       6.0
2    Đào Thị Bưởi    22         F        NaN       7.0
3   Mùng Thị Hồng    20         F        NaN       NaN
4   Thịt Thị Tươi    22         F        3.0       8.0
5     Trần Văn Từ    30         M        5.0       2.0

### df.isnull()

In [2]:
x = df1.isnull()
print(x)

   Họ và Tên   Tuổi  Giới tính  Điểm Toán  Điếm Văn
0      False  False      False      False     False
1      False  False      False       True     False
2      False  False      False       True     False
3      False  False      False       True      True
4      False  False      False      False     False
5      False  False      False      False     False

### df.dropna()

In [3]:
x = df1.dropna() # may use inplace=True
print(x)

       Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0    Trân Văn Từ    30         M        8.0       6.0
4  Thịt Thị Tươi    22         F        3.0       8.0
5    Trần Văn Từ    30         M        5.0       2.0

In [7]:
x = df1.dropna(subset='Điếm Văn') # may use inplace=True
print(x)

        Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0     Trân Văn Từ    30         M        8.0       6.0
1  Trần Văn Chuồn    20         M        NaN       6.0
2    Đào Thị Bưởi    22         F        NaN       7.0
4   Thịt Thị Tươi    22         F        3.0       8.0
5     Trần Văn Từ    30         M        5.0       2.0

### df.fillna

In [ ]:
x = df1.fillna(value=0) # may use inplace=True
print(x)

In [11]:
x = df1.fillna({'Điểm Toán':0}) # theo columns chỉ định
print(x)

        Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0     Trân Văn Từ    30         M        8.0       6.0
1  Trần Văn Chuồn    20         M        0.0       6.0
2    Đào Thị Bưởi    22         F        0.0       7.0
3   Mùng Thị Hồng    20         F        0.0       NaN
4   Thịt Thị Tươi    22         F        3.0       8.0
5     Trần Văn Từ    30         M        5.0       2.0

In [ ]:
# ffill(forward fill): lấy giá trị đằng trước fill cho ô ở dưới
# limit=1 : fill cho 1 đằng sau
x = df1.fillna(method='ffill',limit=1) # may use inplace=True
print(x)

In [ ]:
x = df1.fillna(method='ffill',limit=2) # may use inplace=True
print(x)

In [ ]:
# backfill(backward fill): lấy giá trị đằng sau fill cho ô ở trên
x = df1.fillna(method='backfill',limit=1) # may use inplace=True
print(x)

### df.fillna using mean,median,mode,max,min,sum,count

In [ ]:
mean = df1['Điểm Toán'].mean() # chỉ dùng cho columns chứa int,float
print('mean:',mean)

median = df1['Điểm Toán'].median() # chỉ dùng cho columns chứa int,float
print('median:',median)

In [ ]:
print(df1)
print('-'*100)

mode = df1.mode() # giá trị xuất hiện nhiều nhất
print('MODE:\n',mode)
print('-'*100)

mode = df1['Điểm Toán'].mode() # nếu có nhiều value có chung số lần xuất hiện nhiều nhất thì liệt kê tất
print(mode)
print('-'*100)

mode = df1['Điếm Văn'].mode() # nếu chỉ có 1 value có số lần xuất hiện nhiều nhất thì liệt kê 1
print(mode)

In [ ]:
gtln = df1.max()
print(gtln)

In [ ]:
tong = df1.sum()
print(tong)

In [ ]:
soluong = df1.count()
print(soluong)