In [1]:
import pandas as pd

df1 = pd.read_excel('my_score.xlsx',sheet_name='Sheet1')
df1.pop('1')
print(df1)
print('-'*100)

df2 = pd.read_excel('my_score.xlsx',sheet_name='Sheet2')
df2.pop('1')
print(df2)

        Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0     Trân Văn Từ    30         M        8.0       6.0
1  Trần Văn Chuồn    20         M        NaN       6.0
2    Đào Thị Bưởi    22         F        NaN       7.0
3   Mùng Thị Hồng    20         F        NaN       NaN
4   Thịt Thị Tươi    22         F        3.0       8.0
5     Trần Văn Từ    30         M        5.0       2.0
----------------------------------------------------------------------------------------------------
       Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0      Đỗ An Tâm    60         M          3         9
1  Trần Bình Yên    70         M          4         1
2   Đào Thị Bưởi    80         F          2         7

### df.concat()

In [2]:
df = pd.concat([df1,df2],axis=0)
print(df)
print(df.shape)

        Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn
0     Trân Văn Từ    30         M        8.0       6.0
1  Trần Văn Chuồn    20         M        NaN       6.0
2    Đào Thị Bưởi    22         F        NaN       7.0
3   Mùng Thị Hồng    20         F        NaN       NaN
4   Thịt Thị Tươi    22         F        3.0       8.0
5     Trần Văn Từ    30         M        5.0       2.0
0       Đỗ An Tâm    60         M        3.0       9.0
1   Trần Bình Yên    70         M        4.0       1.0
2    Đào Thị Bưởi    80         F        2.0       7.0
(9, 5)

In [3]:
df = pd.concat([df1,df2],axis=1)
print(df)
print(df.shape)

        Họ và Tên  Tuổi Giới tính  Điểm Toán  Điếm Văn      Họ và Tên  Tuổi  \
0     Trân Văn Từ    30         M        8.0       6.0      Đỗ An Tâm  60.0
1  Trần Văn Chuồn    20         M        NaN       6.0  Trần Bình Yên  70.0
2    Đào Thị Bưởi    22         F        NaN       7.0   Đào Thị Bưởi  80.0
3   Mùng Thị Hồng    20         F        NaN       NaN            NaN   NaN
4   Thịt Thị Tươi    22         F        3.0       8.0            NaN   NaN
5     Trần Văn Từ    30         M        5.0       2.0            NaN   NaN

  Giới tính  Điểm Toán  Điếm Văn
0         M        3.0       9.0
1         M        4.0       1.0
2         F        2.0       7.0
3       NaN        NaN       NaN
4       NaN        NaN       NaN
5       NaN        NaN       NaN
(6, 10)

### df.merge

In [10]:
df = df1.merge(df2,on='Điếm Văn') # Tìm điểm văn bằng nhau và ghép lại bỏ đi 1 column điểm văn
print(df)

    Họ và Tên_x  Tuổi_x Giới tính_x  Điểm Toán_x  Điếm Văn   Họ và Tên_y  \
0  Đào Thị Bưởi      22           F          NaN       7.0  Đào Thị Bưởi

   Tuổi_y Giới tính_y  Điểm Toán_y
0      80           F            2

In [5]:
df = df1.merge(df2,on='Điếm Văn',how='right') # Tìm điểm văn bằng nhau và ghép lại bỏ đi 1 column điểm văn
print(df)

    Họ và Tên_x  Tuổi_x Giới tính_x  Điểm Toán_x  Điếm Văn    Họ và Tên_y  \
0           NaN     NaN         NaN          NaN       9.0      Đỗ An Tâm
1           NaN     NaN         NaN          NaN       1.0  Trần Bình Yên
2  Đào Thị Bưởi    22.0           F          NaN       7.0   Đào Thị Bưởi

   Tuổi_y Giới tính_y  Điểm Toán_y
0      60           M            3
1      70           M            4
2      80           F            2

In [6]:
df = df1.merge(df2,on='Điếm Văn',how='left') # Tìm điểm văn bằng nhau và ghép lại bỏ đi 1 column điểm văn
print(df)

      Họ và Tên_x  Tuổi_x Giới tính_x  Điểm Toán_x  Điếm Văn   Họ và Tên_y  \
0     Trân Văn Từ      30           M          8.0       6.0           NaN
1  Trần Văn Chuồn      20           M          NaN       6.0           NaN
2    Đào Thị Bưởi      22           F          NaN       7.0  Đào Thị Bưởi
3   Mùng Thị Hồng      20           F          NaN       NaN           NaN
4   Thịt Thị Tươi      22           F          3.0       8.0           NaN
5     Trần Văn Từ      30           M          5.0       2.0           NaN

   Tuổi_y Giới tính_y  Điểm Toán_y
0     NaN         NaN          NaN
1     NaN         NaN          NaN
2    80.0           F          2.0
3     NaN         NaN          NaN
4     NaN         NaN          NaN
5     NaN         NaN          NaN

In [7]:
df = df1.merge(df2,on='Điếm Văn',how='outer') # Tìm điểm văn bằng nhau và ghép lại bỏ đi 1 column điểm văn
print(df)

      Họ và Tên_x  Tuổi_x Giới tính_x  Điểm Toán_x  Điếm Văn    Họ và Tên_y  \
0     Trân Văn Từ    30.0           M          8.0       6.0            NaN
1  Trần Văn Chuồn    20.0           M          NaN       6.0            NaN
2    Đào Thị Bưởi    22.0           F          NaN       7.0   Đào Thị Bưởi
3   Mùng Thị Hồng    20.0           F          NaN       NaN            NaN
4   Thịt Thị Tươi    22.0           F          3.0       8.0            NaN
5     Trần Văn Từ    30.0           M          5.0       2.0            NaN
6             NaN     NaN         NaN          NaN       9.0      Đỗ An Tâm
7             NaN     NaN         NaN          NaN       1.0  Trần Bình Yên

   Tuổi_y Giới tính_y  Điểm Toán_y
0     NaN         NaN          NaN
1     NaN         NaN          NaN
2    80.0           F          2.0
3     NaN         NaN          NaN
4     NaN         NaN          NaN
5     NaN         NaN          NaN
6    60.0           M          3.0
7    70.0           M          4.0

In [8]:
df = df1.merge(df2,how='cross') # Tìm điểm văn bằng nhau và ghép lại bỏ đi 1 column điểm văn
print(df)

       Họ và Tên_x  Tuổi_x Giới tính_x  Điểm Toán_x  Điếm Văn_x  \
0      Trân Văn Từ      30           M          8.0         6.0
1      Trân Văn Từ      30           M          8.0         6.0
2      Trân Văn Từ      30           M          8.0         6.0
3   Trần Văn Chuồn      20           M          NaN         6.0
4   Trần Văn Chuồn      20           M          NaN         6.0
5   Trần Văn Chuồn      20           M          NaN         6.0
6     Đào Thị Bưởi      22           F          NaN         7.0
7     Đào Thị Bưởi      22           F          NaN         7.0
8     Đào Thị Bưởi      22           F          NaN         7.0
9    Mùng Thị Hồng      20           F          NaN         NaN
10   Mùng Thị Hồng      20           F          NaN         NaN
11   Mùng Thị Hồng      20           F          NaN         NaN
12   Thịt Thị Tươi      22           F          3.0         8.0
13   Thịt Thị Tươi      22           F          3.0         8.0
14   Thịt Thị Tươi      22           F          3.0         8.0
15     Trần Văn Từ      30           M          5.0         2.0
16     Trần Văn Từ      30           M          5.0         2.0
17     Trần Văn Từ      30           M          5.0         2.0

      Họ và Tên_y  Tuổi_y Giới tính_y  Điểm Toán_y  Điếm Văn_y
0       Đỗ An Tâm      60           M            3           9
1   Trần Bình Yên      70           M            4           1
2    Đào Thị Bưởi      80           F            2           7
3       Đỗ An Tâm      60           M            3           9
4   Trần Bình Yên      70           M            4           1
5    Đào Thị Bưởi      80           F            2           7
6       Đỗ An Tâm      60           M            3           9
7   Trần Bình Yên      70           M            4           1
8    Đào Thị Bưởi      80           F            2           7
9       Đỗ An Tâm      60           M            3           9
10  Trần Bình Yên      70           M            4           1
11   Đào Thị Bưởi      80           F            2           7
12      Đỗ An Tâm      60           M            3           9
13  Trần Bình Yên      70           M            4           1
14   Đào Thị Bưởi      80           F            2           7
15      Đỗ An Tâm      60           M            3           9
16  Trần Bình Yên      70           M            4           1
17   Đào Thị Bưởi      80           F            2           7